
.container{
    background-color: powderblue;
    width:640px;
    margin: 0 auto;
    height: 480px;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding:5px 0;
}
#heading{
    text-align: center;
}
#input-area{
    background-color: white;
    padding: 10px;
    /* margin: 0 20px; */
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}
h3 {
    margin: 0;
    text-transform: uppercase;
    color: grey;
}
#input-task{
    margin: 0 10px;
    width: 50%;
    margin: 3px 5px;
    padding: 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    padding: 5px 5px;
    border-radius: 3px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border: none;
    background-color: powderblue;
}
.task-field{
    background-color: white;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}
#completed-task{
    float: right;
    width: 30%;
}
#incomplete-task{
    float: left;
    width: 30%;
}